.pas_de_retrait 
{ 
list-style-position: inside; 
} 
.retrait 
{ 
list-style-position: 
outside;
}
.cercle 
{ 
list-style-type: circle; 
} 
.carre 
{ 
list-style-type: square; 
} 
.rien 
{ 
list-style-type: none; 
} 
.commence_a_zero 
{ 
list-style-type: decimal-leading-zero; 
} 
.lettres_minuscules 
{ 
list-style-type: lower-alpha; 
} 
.chiffres_romains 
{ 
list-style-type: upper-roman; 
} 
.lettres_grecques 
{ 
list-style-type: lower-greek; 
} 
 
 
h2 
{ 
text-indent: 20px; 
font-family: Arial, Verdana, "Times New Roman", serif; 
} 
em 
{ 
background-color: yellow; 
} 
strong 
{ 
color: red; 
}
 
ul 
{ 
list-style-image: url("dossier.png"); 
} 
 
a 
{ 
color: blue; 
text-decoration: none;
}
 
a:hover 
{ 
text-decoration: underline; 
}

#premier { 
margin-bottom: 0; 
margin-top: 0px; 
margin-left: 3em; 
width: 100px; 
background-color: orange; 
} 
 
#second{ 
position: relative; 
left: 20px; 
bottom: 15px; 
margin-top: 0; 
margin-left: 3em; 
width: 150px; 
height: 50px; 
background-color: green;
}