td 
{ 
border: 1px solid black;  
} 
table 
{   
    width: 25%;
    margin: 10px auto;
    border-collapse: collapse; 
} 
td 
{ 
border: 1px solid black; 
}
table 
{ 
border-collapse: collapse; 
} 
td, th 
{ 
border: 1px solid black; 
text-align: center;
}
caption{
    text-decoration: underline;
    margin-bottom: 3px;
}